.section__block--styl {
  background-color: #c0a793;
  border-radius: 10px;
}

.section__block {
  min-height: 100px;
  padding: 10px 20px;
  border: 1px solid #17100a;
}

.section__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #17100a;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 40px;
}
.section__heading::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  border-bottom: 1px dashed #000;
  width: 100%;
}

