.post{
  background-color: #F6F0E2;
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
}
.post:last-child{
  margin-bottom: 20px;
}

.post__heading{
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  padding: 10px 0 15px 0;
  background-color: #17100a;
  color: #F6F0E2;
}

.post__link{
  color: #17100a;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  display: block;
  padding: 30px 0 35px 0;
}

.post__link:hover{
  text-decoration: none;
  color: #F6F0E2;
  background-color: #6A584A;
}