@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&subset=cyrillic');

*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #F6F0E2;
  height: 100vh;
}

.App__heading{
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  margin-bottom: 3rem;
  color: #17100A;
}
.App__heading--center{
  text-align: center;
}